*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Exo 2', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px;
    background-color: #15638F;
}
.card{
    margin: 68px;
    display: flex;
    width: 200px;
    height: 322px;
    left: 620px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
    justify-content: center; 
    flex-direction: column;
}
.card__image{
    display: flex;
    width: 200px;
    height: 142.36px;
    left: 620px;
    top: 68px;
    background: url(https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    border-radius: 10px 10px 0px 0px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.card__content{
    margin: 15.59px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 322px;
    left: 620px;
    top: 68px;
}
.card__title{
    width: 129px;
    height: 16.63px;
    left: 636px;
    top: 225.94px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}
.card__text{
    margin-top: 15.59px;
    width: 165px;
    height: 72.74px;
    left: 636px;
    top: 258.15px;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    color: #000000;
}
.card__btn{
    margin-top: 15.11px;
    width: 98px;
    height: 27px;
    left: 636px;
    top: 346px;
    background: #2797B2;
    border-radius: 50px;
    border:0;
}
button{
    width: 50.04px;
    height: 13.03px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
}
